<div class="main-div">
    <div class="text-content">
        <div class="ratings">
            <img src="{{ 'hero-ratings.png' | asset_url }}" alt="ratings" />
        </div>
        <h3 style="color: {{ settings.h3_text_color }}">{{ settings.h3_text }}</h3>
        <p style="color: {{ settings.p_text_color }}">{{ settings.p_text }}</p>
    </div>
    <div class="img-div">
        <img src="{{ settings.img_upload | file_url }}" alt="Image"/>
    </div>
</div>

<style>
    .main-div{
        margin: auto;
        padding: 0;
        height: 173px;
        width: 1155.02px;
        display: flex;
        background-color: aqua;
    }
    .text-content{
        margin: 0;
        padding: 0;
        width: 761.99px;
        height: 173px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 7px;
    }
    .text-content .ratings{
        margin: 0;
        padding: 0;
        width: fit-content;
        height: 32px;
        object-fit: cover;
    }
    .ratings img{
        margin: 0;
        padding: 0;
        width: 430.6px;
        height: 32px;
    }
    .text-content h3{
        margin: 0;
        padding: 0;
        font-size: 40px;
        font-weight: 600;
        line-height: 54px;
        color: #074542;

    
    }
    .text-content p{
        margin: 0;
        padding: 0;
        font-size: 20px;
        font-weight: 400;
        line-height: 31.1px;
    }

    .img-div{
        margin: 0;
        padding: 0;
        width: 393.03px;
        height: 173px;
        object-fit: cover;
    }
    .img-div img{
        margin: 0;
        padding: 0;
        width: 393.03px;
        height: 173px;
        background-size: cover;
        background-position: center;
        background-color: blueviolet;
    }


    /* MEDIA QUERRIES... */

    @media(min-width : 319px) and (max-width : 700px){
        .main-div{
            width: 100vw;
            margin: 0;
            height: 107px;
        }
        .img-div{
            display: none;
        }
        .text-content{
            justify-content: flex-start;
            align-items: center;
            gap: 3px;
        }

        .text-content .ratings{
        height: 24px;
        width: fit-content;
    }
    .ratings img{
        width:fit-content;
        height: 24px;
    }
        .text-content h3{
            font-size: 20px;
            line-height: 27px;
            text-align: center;
        }
        .text-content p{
            font-size: 16px;
            line-height: 24.88px;
            text-align: center;
        }

    }

</style>

{% schema %}
    {
      "name": "Text and Image Block",
      "settings": [
        {
          "type": "text",
          "id": "h3_text",
          "label": "Heading Text",
          "default": "Lorem ipsum dolor sit"
        },
        {
          "type": "color",
          "id": "h3_text_color",
          "label": "Heading Text Color",
          "default": "#074542"
        },
        {
          "type": "text",
          "id": "p_text",
          "label": "Paragraph Text",
          "default": "Lorem ipsum dolor sit amet consectet"
        },
        {
          "type": "color",
          "id": "p_text_color",
          "label": "Paragraph Text Color",
          "default": "#000000"
        },
        {
          "type": "image_picker",
          "id": "img_upload",
          "label": "Upload Image for img-div"
        }
      ],
      "presets": [
        {
          "name": "Text and Image Block"
        }
      ]
    }
    {% endschema %}