{{ 'product-card-v2.css' | asset_url | stylesheet_tag }}
{{ 'add-to-cart.js' | asset_url |  script_tag }}
{{ 'feature-product-collection.css' |  asset_url |  stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="section-{{ section.id }}-padding gradient color-{{ section.settings.section_color_scheme }} custom-section">
  <div class="page-width collection-container color-{{ section.settings.color_scheme }}">
    <div class="product-collection__header">
      <h2 class="poppins-semibold">{{ section.settings.heading }}</h2>
    </div>
    <div class="btn-group-feature-collection">
      <div class="swiper-btn button--{{ section.id }} swiper-button-prev"></div>
      <div class="swiper-btn button--{{ section.id }} swiper-button-next "></div>
    </div>

    <div class=" mySwiper swiper mySwiper-{{ section.id }}">
      <div class="swiper-wrapper">
        {% for product in section.settings.collection.products %}
          {%  assign index8 = forloop.index0 |  modulo: 8 %}
          
          {% if index8 == 0 %}
            <div class="swiper-slide">
            <div class="collection__product-wrapper">
        {% endif %}
        {% render 'product-card-v2' product: product %}

        {% if index8 == 7 or forloop.last %}
          </div>
        </div>
        {% endif %}
        
      {% endfor %}
    </div>
    <div class="swiper-pagination swiper-pagination-{{ section.id }}"></div>
    </div>
  </div>
</div>

<style>

.container__feature-collection {
  position: relative
}

.btn-group-feature-collection {
    display: flex;
    position: absolute;
    gap: 20px;
    right: 20px;
    top: 20px;
    
  }

  .swiper-btn {
    display: flex !important;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #008780;
    color: white;
    justify-content: center;
    align-items: center;
    position: initial;
  }

  .swiper-button-next:after, .swiper-button-prev:after {
    font-size: 24px;
    font-weight: 900;
  }

  .swiper-wrapper {
    padding-bottom: 50px;

  }
  .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 0px !important;
}
  
  /* .swiper-pagination {
    top: 45px;
  } */

  /* .swiper-button-prev {
    left: 0;
  }

  .swiper-button-next {
    right: 0;
  } */

  .swiper-pagination-bullet-active {
    background-color: #008780;
  }

  .swiper-button-disabled {
    background-color: transparent;
    border: 2px solid #008780;
    color: black;
  }

  @media screen and (max-width: 769px) {
    /* .btn-group-feature-collection {
      bottom: 2rem;
      top: auto;
    } */
      
    .swiper-btn {
      width: 35px;
      height: 35px;
      
    }

    .swiper-button-next:after, .swiper-button-prev:after {
    font-size: 14px;
    font-weight: 900;
  }

  .swiper-pagination {
    text-align: start;
  }
  }

</style>

<script>

 document.addEventListener('DOMContentLoaded', () => {
    const id = "{{ section.id }}"

    const swiperClass = `.mySwiper-${id}`;
    const swiperPaginationClass = `.swiper-pagination-${id}`;
    const swiperButtonNextClass = `.button--${id}.swiper-button-next`;
    const swiperButtonPrevClass = `.button--${id}.swiper-button-prev`;

    const swiperContainer = document.querySelector(swiperClass);
    const swiperPagination = document.querySelector(swiperPaginationClass);
    const swiperButtonNext = document.querySelector(swiperButtonNextClass);
    const swiperButtonPrev = document.querySelector(swiperButtonPrevClass);

    let swiper = new Swiper(swiperClass, {
      slidesPerView: 1,
      spaceBetween: 10,
      navigation: {
        nextEl: swiperButtonNextClass,
        prevEl: swiperButtonPrevClass,
      },
      pagination: {
        el: swiperPaginationClass,
        clickable: true,
      },
      breakpoints: {
        786: {
          slidesPerView: 1,
          spaceBetween: 10,
        }
      },
      observer: true, 
      observeParents: true,
    });    
});
</script>


{% schema %}
  {
    "name": "Feature Collection",
    "settings": [
      {
        "type": "inline_richtext",
        "id": "heading",
        "label": "Heading",
        "default": "Heading"
      },
      {
        "type": "range",
        "id": "products_per_slide_mobile",
        "label": "Number of Products per Slide on Mobile",
        "min": 1,
        "max": 4,
        "step": 1,
        "default": 2
      },
      {
        "type": "range",
        "id": "products_per_slide_desktop",
        "label": "Number of Products per Slide on Desktop",
        "min": 1,
        "max": 8,
        "step": 1,
        "default": 4
      },
      {
        "type": "color_scheme",
        "id": "section_color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "scheme-1"
      }, {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      }, {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.multirow.settings.container_color_scheme.label",
        "default": "scheme-1"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ],
    "presets": [
      {
        "name": "Feature Product Collection"
      }
    ]
  }
{% endschema %}