<div class="hero-div">
    <img class="hero-bg" src="{{ section.settings.hero_bg_image | img_url: 'master' }}" alt="Hero Background" />
    <div class="hero-content">
        <div class="hero-ratings">
            <img src="{{ 'hero-ratings.png' | asset_url }}" alt="ratings" />
        </div>

        {% for block in section.blocks %}
            {% case block.type %}
                {% when 'hero_title' %}
                    <div class="hero-title">
                        <h3 class="hero-title-text">{{ block.settings.hero_title_text | default: 'Default Hero Title Text' }}</h3>
                    </div>

                {% when 'hero_para' %}
                    <div class="hero-para">
                        <p class="hero-para-text">{{ block.settings.hero_para_text | default: 'Default Hero Paragraph Text' }}</p>
                    </div>

                    {% when 'hero_points' %}
                      <div class="hero-points">
                          {% for point in block.settings.hero_points %}
                              <div class="hero-point">
                                  <div class="hero-point-svg">
                                      {% render 'hero-tick' %}
                                  </div>
                                  <p class="hero-point-text">{{ point.hero_point_text | default: 'Default Hero Point Text' }}</p>
                              </div>
                          {% endfor %}
                      </div>
                  

                {% when 'hero_button' %}
                    <button class="hero-button">
                        {{ block.settings.hero_button_text | default: 'Default Button Text' }}
                    </button>
            {% endcase %}
        {% endfor %}
    </div>
</div>

<style>
    .hero-div {
        height: 610px;
        width: 100%;
        background-color: aqua;
    }

    .hero-bg {
        height: 610px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        z-index: -3;
    }

    .hero-content {
        margin-left: 120px;
        padding-top: 50px;
        width: 594px;
        height: fit-content;
        background-color: blueviolet;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        justify-content: center;
    }

    .hero-ratings img {
        height: 32px;
    }

    .hero-title{
      margin: 0;
      padding: 0;
    }
    .hero-title-text {
        margin: 0;
        padding: 0;
        font-family: "Poppins", sans-serif;
        font-size: 40px;
        font-weight: 600;
        color: #074542;
    }

    .hero-para{
      margin: 0;
      padding: 0;
    }
    .hero-para-text {
        margin: 0;
        padding: 0;
        font-family: "Poppins", sans-serif;
        font-size: 20px;
    }

    .hero-points {
        display: flex;
        gap: 12px;
    }

    .hero-point {
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 50px;
        padding: 0 15.5px;
        height: 33px;
    }

    .hero-point-svg {
        width: 20px;
        height: 20px;
        background-color: #074542;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero-point-text {
        font-family: "Poppins", sans-serif;
        font-size: 18px;
    }

    .hero-button {
        height: 77px;
        width: 419px;
        border: none;
        border-radius: 82px;
        background: linear-gradient(180deg, #3AAFA9 0%, #228B85 100%);
        font-size: 24px;
        font-weight: 600;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

{% schema %}
{
  "name": "Hero Section",
  "settings": [
    {
      "type": "image_picker",
      "id": "hero_bg_image",
      "label": "Hero Background Image"
    }
  ],
  "blocks": [
    {
      "type": "hero_title",
      "name": "Hero Title",
      "settings": [
        {
          "type": "text",
          "id": "hero_title_text",
          "label": "Hero Title Text",
          "default": "Lorem ipsum dolor sit amet consectetur adipisicing elit."
        }
      ]
    },
    {
      "type": "hero_para",
      "name": "Hero Paragraph",
      "settings": [
        {
          "type": "textarea",
          "id": "hero_para_text",
          "label": "Paragraph Text",
          "default": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore ad perspiciatis voluptatem temporibu."
        }
      ]
    },
    {
      "type": "hero_points",
      "name": "Hero Point",
      "settings": [
        {
          "type": "text",
          "id": "hero_point_text",
          "label": "Point Text",
          "default": "Lorem ipsum dolor sit amet consectetur."
        }
      ]
    },
    {
      "type": "hero_button",
      "name": "Hero Button",
      "settings": [
        {
          "type": "text",
          "id": "hero_button_text",
          "label": "Button Text",
          "default": "Click Here"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero Section",
      "category": "Custom"
    }
  ]
}
{% endschema %}
