<div class="hero-div section-{{ section.id }}">
    <div class="banner-img-wrapper">
        {% if section.settings.hero_bg_image != blank %}
            {{ section.settings.hero_bg_image | image_url: width: section.settings.image.width | image_tag: sizes: sizes, widths: '200,300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200', class: "hero-bg" }}
        {% endif %}
        </div>
        
      <div class="banner-img-wrapper-mobile">  
        {% if section.settings.hero_bg_image_mobile != blank %}
            {{ section.settings.hero_bg_image_mobile | image_url: width: section.settings.image.width | image_tag: sizes: sizes, widths: '200,300,400,500,600,700', class: "hero-bg-mobile" }}
        {% endif %}
    </div>

    <div class="hero-content">
        <div class="hero-ratings">
            <img src="{{ 'hero-ratings.png' | asset_url }}" alt="ratings" />
        </div>

        {% for block in section.blocks %}
            {% case block.type %}
                {% when 'hero_title' %}
                    <div class="hero-title">
                        <h3 class="hero-title-text">{{ block.settings.hero_title_text | default: 'Default Hero Title Text' }}</h3>
                    </div>

                {% when 'hero_para' %}
                    <div class="hero-para">
                        <p class="hero-para-text">{{ block.settings.hero_para_text | default: 'Default Hero Paragraph Text' }}</p>
                    </div>
            {% endcase %}
        {% endfor %}

        <div class="hero-points">
            {% for block in section.blocks %}
                {% if block.type == 'hero_point' %}
                    <div class="hero-point">
                        <div class="hero-point-svg">
                            {% render 'hero-tick' %}
                        </div>
                        <p class="hero-point-text">{{ block.settings.hero_point_text | default: 'Default Hero Point Text' }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        {% for block in section.blocks %}
            {% if block.type == 'hero_button' %}
              <a class="button-link" href="{{ block.settings.button_link }}">
                <button class="hero-button">
                    {{ block.settings.hero_button_text | default: 'Default Button Text' }}
                </button>
              </a>
            {% endif %}
        {% endfor %}
    </div>
</div>



<style>
    .hero-div {
        height: 610px;
        width: 100%;
        position: relative;
    }

    .banner-img-wrapper{
      height: 610px;
      width: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -3;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }

    .hero-bg {
        height: 610px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        z-index: -3;
    }
    .banner-img-wrapper-mobile{
      display: none;
    }

    .hero-content {
        margin-left: 120px;
        padding-top: 50px;
        width: 594px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        justify-content: center;
    }

    .hero-ratings img {
        height: 32px;
    }

    .hero-title{
      margin: 0;
      padding: 0;
    }
    .hero-title-text {
        margin: 0;
        padding: 0;
        font-family: "Poppins", sans-serif;
        font-size: 40px;
        font-weight: 600;
        color: #074542;
    }

    .hero-para{
      margin: 0;
      padding: 0;
    }
    .hero-para-text {
        margin: 0;
        padding: 0;
        font-family: "Poppins", sans-serif;
        font-size: 20px;
    }

    .hero-points {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .hero-point {
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 50px;
        padding: 0 15.5px;
        height: 33px;
    }

    .hero-point-svg {
        width: 20px;
        height: 20px;
        background-color: #074542;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero-point-text {
        font-family: "Poppins", sans-serif;
        font-size: 18px;
    }

    .hero-button {
        height: 77px;
        width: 419px;
        border: none;
        border-radius: 82px;
        background: linear-gradient(180deg, #3AAFA9 0%, #228B85 100%);
        font-size: 24px;
        font-weight: 600;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .button-link{
      text-decoration: none;
    }


   /* MEDIA QUERIES... */

   @media(min-width : 319px) and (max-width : 700px){
    .hero-div{
      height: 695px;
    }
    .banner-img-wrapper{
      display: none;
    }

    .banner-img-wrapper-mobile{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 695px;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -3;
      overflow: hidden;
    }

    .hero-bg-mobile {
      height: 695px;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -3;
    }
    
   }


</style>

{% schema %}
  {
    "name": "Hero Section",
    "settings": [
      {
        "type": "image_picker",
        "id": "hero_bg_image",
        "label": "Hero Background Image (Desktop)"
      },
      {
        "type": "image_picker",
        "id": "hero_bg_image_mobile",
        "label": "Hero Background Image (Mobile)"
      }
    ],
    "blocks": [
      {
        "type": "hero_title",
        "name": "Hero Title",
        "settings": [
          {
            "type": "text",
            "id": "hero_title_text",
            "label": "Hero Title Text",
            "default": "Lorem ipsum dolor sit amet consectetur adipisicing elit."
          }
        ]
      },
      {
        "type": "hero_para",
        "name": "Hero Paragraph",
        "settings": [
          {
            "type": "textarea",
            "id": "hero_para_text",
            "label": "Paragraph Text",
            "default": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore ad perspiciatis voluptatem temporibu."
          }
        ]
      },
      {
        "type": "hero_button",
        "name": "Hero Button",
        "settings": [
          {
            "type": "text",
            "id": "hero_button_text",
            "label": "Button Text",
            "default": "Click Here"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button Link"
          }
        ]
      },
      {
        "type": "hero_point",
        "name": "Hero Point",
        "settings": [
          {
            "type": "text",
            "id": "hero_point_text",
            "label": "Point Text",
            "default": "Lorem ipsum dolor sit amet consectetur."
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Hero Section",
        "category": "Custom"
      }
    ]
  }
  {% endschema %}
  
